.dom-view {
    position: relative;
    z-index: 1;
    margin-top: 70px;
    padding: 56px;
    height: 430px;
    max-width: 520px;
    background-color: #000;
    color: #fff;
    box-sizing: border-box;
}

.dom-view__item {
    visibility: hidden;
    opacity: 0;
    height: 0;
    width: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.dom-view__item h1,
.dom-view__item .h1 {
    font-size: 26px;
    font-weight: bold;
}

.dom-view__item.open {
    visibility: visible;
    opacity: 1;
    height: 100%;
    width: auto;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
